.colorPanel {
  display: flex;
  width: 40px;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.colorPanel__color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.colorPanel__colorInput {
  height: 30px;
  width: 30px;
}
